frontend/node_modules
npm-debug.log
backend/public/storage
backend/storage/*.key
backend/vendor
/.idea
backend/.env
frontend/resources/assets/js/config.js
frontend/resources/assets/js/app-compiled.js
frontend/resources/assets/js/app-compiled.js.map
backend/storage/exports/*
backend/storage/framework/*
backend/storage/accesstage-local/*
.phpintel/
backend/tests/cover/*
backend/coverage-report
